node_modules/
dist/
.env
.env.*
*.tsbuildinfo
vite.config.js
vite.config.d.ts
tailwind.config.js
tailwind.config.d.ts
src/assets/
firebase-service-account.json
*.log
firebase-debug.log
codex.html
firestore-upload/serviceAccountKey.json
Payment possiblities
